body {background-color: rgb(83, 83, 83);
}
h1 {color: rgb(255, 255, 255); text-align: center;
}
#ima1 {width: 70%; margin-left: 15%;
border-color: rgb(255, 255, 255); border-style:solid;
border-width: 100%;}

h2 {color: rgb(255, 255, 255); text-align: center;
}
